.completed {
    text-decoration: line-through;
    color: gray;
}
.badge {
    background: green;
    color: white;
    padding: 2px 5px;
    font-size: 0.8em;
    margin-left: 10px;
}
.delete {
    background: rgb(243, 30, 30);
    color: white;
    padding: 2px 5px;
    font-size: 0.8em;
    margin-left: 10px;
}