<div class="container">
    <h1>TaskFlow 20</h1>

    <div class="stats">Completed: {{ taskService.completedCount() }}</div>

    <div class="add-task">
        <input #taskInput placeholder="New Task..." />
        <button (click)="addTask(taskInput.value); taskInput.value = ''">
            Add
        </button>
    </div>

    <ul>
        @for (task of taskService.allTasks(); track task.id) {
        <li [class.completed]="task.completed">
            <span (click)="toggle(task.id)">{{ task.title }}</span>

            @if (task.completed) {
            <span class="badge">DONE!</span>
            }
            @if (!task.completed){
                <span class="delete" (click)="delete(task.id)">Delete</span>
            }
        </li>
        } @empty {
        <li>No tasks available. Relax!</li>
        }
    </ul>
</div>